
/*
#3E78B2 middle blue
#6E7E85 light green
*/

.container-fluid {
    background-color: #F7F7F2;
    background-size: 100%;

}

.jumbotron {
    background-color: #CCE6F4;
    margin: 10px 50px 10px 50px;
}

h1 {
    color: #011638;
}